.first-element,.sec-element{
    font-weight: 28px;
    font-family: Helvatica, "Times New Roman", sans-serif;

}

.first-element {
    background-color: black;
    color: white;

}

.sec-element {
    background-color: yellow;
    color: black;
    
}